* {
  box-sizing: border-box;
}

.c-messages {
  padding: 10px;
  width: 100%;
}

.c-message__item {
  margin: 10px;
  width: 100%;
  display: flex;
  height: fit-content;
}

.c-message__avatar {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.c-message__message-item {
  width: fit-content;
}

.c-message__message__text {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  line-height: 1.5em;
  border-radius: 20px;
  padding: 10px;
  margin: 0 10px;
  background-color: #6997b0;
  color: white;
  text-align: justify;
}

.my-message {
  background-color: #a569b0;
  color: white;
}

.c-message__message__username {
  font-size: 10px;
  text-align: left;
  padding-left: 5px;
}

.my-username {
  text-align: end;
  width: 100%;
  padding-right: 5px;
}

.c-message--joined {
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  background-color: #ecf1f5;
  opacity: 80%;
}

.c-message--left {
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  background-color: #f5f0ec;
  opacity: 80%;
}

.c-message__joined-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-item {
  width: 99%;
  display: flex;
  flex-direction: row-reverse;
}
